/Assignment 1 report v2.pdf
/Assignment1 report.pdf
/Evolution.txt
/Evolution.xlsx
/Learning systems.docx
/Test graphic.xlsx
/Training graphic.xlsx
/diag model.ucls
/diagram.png
/diagram.ucls
/io.ucls
/modules.ucls
/out.txt
/test.txt
/training.txt
/cosas/
/poi-bin-4.1.2-20200217/
/poi-bin-4.1.2-20200217.zip
/.settings/
/doc/
